test.py
# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environment
venv/
env/
ENV/

# ==========================================
# ENV FILES
# ==========================================

.env

# ==========================================
# LOGS
# ==========================================

*.log

# ==========================================
# IDE FILES
# ==========================================

.vscode/
.idea/

# ==========================================
# NODE MODULES
# ==========================================

node_modules/

# ==========================================
# FRONTEND BUILD FILES
# ==========================================

frontend/dist/
frontend/build/

# ==========================================
# OS FILES
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# TEST / CACHE
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# DOCKER
# ==========================================

*.pid
*.seed

# ==========================================
# POSTGRES
# ==========================================

postgres_data/

# ==========================================
# TEMP FILES
# ==========================================

*.tmp
*.temp