fastapi 
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
passlib
bcrypt
python-multipart
apscheduler
requests
alembic
email-validator
pydantic-settings

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
oauth2client